:root{
    --bgclaro: linear-gradient(to bottom, #333333 , white 30%, white 70%, #333333);
    --bgescuro: black;
    --vermelhoescuro: #700000;
    --vermelhoclaro: #990000;
}
/*Partes gerais*/
.logo{
    top: 5px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
/*Configurações da lista navbar*/
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: var(--vermelhoescuro);
}
a{
    color: var(--vermelhoescuro);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-style: none;
    border-block: calc();
}
/*HTML e customização da navbar*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px 40px;
    height: 36px;
    background: linear-gradient(to left, var(--vermelhoescuro), black);
}
header::after{
    content: '';
    width: 50px;
    height: 50px;
}
nav{
    flex: 1;
    display: block;
    display: flex;
    justify-content: space-between 200px;
    gap: 200px;
}
nav a{
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-style: none;
    border-block: calc();
    
}
/*Configurações do corpo da página, tema claro e tema escuro*/
*{
    color: var(--cordafonte);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo{
    color: var(--vermelhoescuro);
}
body{
    padding-top: 70px;
    background: var(--bg);
    min-height: 100vh;
}
h1{
    justify-content: center;
    text-align: center;
}
/*Imagem dos sites*/
.quadro{
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 400px;
    object-fit: contain;
}
/*Paragrafo*/
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 60%;
    height: 60%;
    text-align: center;
}
/*Botão e ids*/
.btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--vermelhoescuro);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*Minha imagem*/
#eu{
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}
/*Página de contato*/
#contatolista{
    list-style: inside;
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 60%;
    text-align: center;
}
#guitarra{
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    object-position: center top;
}
/*curriculo*/
#curriculo{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
}
/*Botão dos temas*/
.botao-tema{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--botaoTemabg);
    color: var(--botaoTemafont);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*Body no tema claro*/
.tema-claro{
    --bg: var(--bgclaro);
    --cordafonte: black;
    --botaoTemabg: black; 
    --botaoTemafont: var(--vermelhoclaro);
}
.tema-escuro{
    --bg: var(--bgescuro);
    --cordafonte: white;
    --botaoTemabg: var(--vermelhoclaro);
    --botaoTemafont: white;
}
